@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return $dark; // Darker background, return light color
  } 
  @else {
    @return $light; // Lighter backgorund, return dark color
  }
}

@function set-invert-color($color) {
  @if (lightness($color) > 50) {
    @return $light; // Lighter backgorund, return dark color
  } 
  @else {
    @return $dark; // Darker background, return light color
  }
}

@function set-header-color($color, $percent: 15%) {
  @if (lightness($color) > 50) {
    @return darken($color, $percent); // Darker background, return light color
  } 
  @else {
    @return lighten($color, $percent); // Lighter backgorund, return dark color
  }
}