.navbar {
	height: $navbar-height;
	line-height: $navbar-height;
	background-color: $navbar-color;
	color: set-text-color($navbar-color);
	text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    // border-bottom-color: #ccc;
    // border-bottom-style: solid;
    // border-bottom-width: 1px;

    &.navbar--fixed {
		position: fixed;
		width: 100%;

		& + div {
			padding-top: $navbar-height;
		}
    }

	.navbar--content {
		display: flex;
		justify-content: space-between;
		width: 100%;

		.left {
		    width: $sidebar-width;
		    max-width: 100%;
	        display: flex;

	        .nav-link {
	        	&:hover,
				&:focus,
				&:active {
	        		background-color: rgba(0, 0, 0, 0.15);
	        	}
	        }
		}
	}

	.nav-link {
		display: inline-block;
		cursor: pointer;
		color: inherit;
		text-decoration: none;
	    padding: 0 0.5rem;
		flex-shrink: 0;
		flex-grow: 0;
		user-select: none;

    	&:hover,
		&:focus,
		&:active,
		&.active {
			// background-color: darken($navbar-color, 20%);
			// color: $accent-color;
    		background-color: rgba(0, 0, 0, 0.15);
		}

		// &:hover:not(.logo):not(.menu-toggle),
		// &:focus:not(.logo):not(.menu-toggle),
		// &:active:not(.logo):not(.menu-toggle),
		// &.active:not(.logo):not(.menu-toggle) {
		// 	// background-color: darken($navbar-color, 20%);
		// 	color: $accent-color;
		// }

		&.logo {
	    	font-weight: bold;
	   		letter-spacing: 0.5rem;
	   		flex-grow: 1;
	   		text-align: left;
	    }

	    &.menu-toggle {
			padding: 0 1rem;
		    flex-grow: 0;
		}

	}

	.dropdown {
		display: inline-flex;

		.dropdown-menu {
			display: none;
			flex-direction: column;
			position: absolute;
			top: calc(#{$navbar-height} - 5px);
		    right: 0;

			list-style: none;
			text-align: left;
			margin: 0;

			box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 16px 0px;
			background-color: $navbar-color;

		    border-color: set-header-color($navbar-color);
			border-width: 1px;
			border-style: solid;

			border-image: initial;
			padding: 16px;

			@media screen and (max-width: 1280px) {
				right: 0;
			}

			& li {
				min-height: 2rem;
				line-height: 2rem;

				.dropdown-item {
					display: flex;
					text-decoration: none;
					color: inherit;

					&:hover,
					&:focus,
					&:active {
						font-weight: bold;
					}
				}
			}
		}

		&:hover .dropdown-menu {
			display: flex;
		}

	}
}