.sidebar {
    width: $sidebar-width;
    max-width: 100%;
	display: flex;
	flex-wrap: nowrap;
    flex: 100%;
    flex-direction: column;
    overflow: auto;
	background-color: $sidebar-color;
	color: set-header-color($sidebar-color, 50%);
	min-height: calc(100vh - #{$navbar-height});
    padding: 1rem 0;

    // border-right-color: #ccc;
    // border-right-style: solid;    
    // border-bottom-style: inset;
    // border-right-width: 1px;

	&.sidebar--fixed {
		position: fixed;
		// margin-top: 1px;
		height: calc(100vh - #{$navbar-height});

		& + .col {
			padding-left: calc(#{$sidebar-width} + 1rem);
		}
	}

	& > a, & > div {
	    font-size: 0.8rem;
	    // border-bottom: 1px solid set-header-color($sidebar-color);
	}

	.nav-link {
		padding: 0.8rem 2rem;
		text-decoration: none;
		color: inherit;
		cursor: pointer;
		// width: 100%;

		&:hover,
		&:active {
			background-color: darken($sidebar-color, 20%);
			color: inherit;
		}

		&.active {
		    border-left: 6px solid $sidebar-accent;
		    padding-left: 26px;
		    color: set-text-color($sidebar-color);
		}

		svg {
			float: right;
		}
	}


	.dropdown {
	    display: block;

		.dropdown-menu {
		    padding: 0;
		    display: block;
		    list-style: none;
		    text-align: left;
		    margin: 0;
		    background-color: darken($sidebar-color, 5%);
		    // border-color: set-header-color($sidebar-color);
		    // border-width: 1px;
		    // border-style: solid;
		    outline: 0px;

			@media screen and (max-width: 1280px) {
				right: 0;
			}

			& li {
				min-height: 2rem;
				line-height: 2rem;
				// border-top: 1px solid set-header-color($sidebar-color);

				.dropdown-item {
					display: block;
					text-decoration: none;
					color: inherit;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				    padding: 0 2rem;

					&:hover,
					&:focus,
					&:active{
		    			color: set-text-color($sidebar-color);
						// background-color: darken($navbar-color, 20%);
					}

					&.active {
					    border-left: 6px solid darken($sidebar-accent, 15%);
					    padding-left: 26px;
		    			color: set-text-color($sidebar-color);
						// background-color: darken($navbar-color, 20%);
					}
				}
			}
		}

		&.dropdown--hide {
			.dropdown-menu {
				display: none;
			}
		}

	}

	// scrollbar

	/* width */
	&::-webkit-scrollbar {
	  width: 4px;
	}

	/* Track */
	&::-webkit-scrollbar-track {
	  background: #f1f1f1; 
	}
	 
	/* Handle */
	&::-webkit-scrollbar-thumb {
	  background: #bbb; 
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
	  background: #555; 
	}
}