/* Base */
.row {
	display: flex;
	flex-wrap: wrap;

	& >.col {
		flex: 1;
	}

	& >.col-auto {
		flex: 0 0 auto;
		width: auto;
		max-width: none;
	}

	& > .col,
	& > .col-auto {
		padding: 0.75rem 1rem;
	}

	/* With gutters */
	&.row--no-gutters {

		& > .col,
		& > .col-auto {
			padding: 0;
		}
	}

}

/* container */
.container {
	width: 100%;
    max-width: 1140px;
	margin-right: auto;
	margin-left: auto;

	&.container--fluid {
    	max-width: 100%;;
	}
}



/* Alignment per row */
.row--top {
  align-items: flex-start;
}
.row--bottom {
  align-items: flex-end;
}
.row--center {
  align-items: center;
}

/* Alignment per cell */
.col--top {
  align-self: flex-start;
}
.col--bottom {
  align-self: flex-end;
}
.col--center {
  align-self: center;
}