.dark-theme {
	.content {
		// background-color: lighten($theme-bg-color, 5%);
  //   	color: set-text-color($theme-bg-color);
	}

	.navbar {
	border-bottom-color: set-invert-color($navbar-color);

		.navbar--content {
			.left {
				background-color: $accent-color;
		    	color: set-invert-color($accent-color);
			}
		}
	}

	.sidebar {
		// border-right-color: set-invert-color($navbar-color);
	}
}